<<<<<<< Updated upstream
.titulo{
    background-color: rgba(236, 228, 14, 0.929);  
    text-align:center; color: rgb(16, 17, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  50px;
} 

nav{ 
    background-color: rgb(170, 213, 235);

    background-color: rgba(255, 252, 252, 0.842);
}
.menu{  
text-align: center; 
margin: 0;
}
.menu li{  
display: inline-block;  
font-size: 20px;
}
.menu a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.menu a:hover{ 
background-color: aqua;
}
.foto{
    text-align: center;
    width: 600%;
    padding: 0 20px 20px;
    padding: 0 20px 20px;
}

.foto :hover{ 
    filter: saturate(180%);
}

.paises{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.texto{ 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;  
    display: block;

}
.texto a:hover{ 
    background-color: rgb(162, 255, 0);
    }
    .texto li{  
        display: inline-block;
    }  
    .texto{  
        text-align: center; 
        margin: 10;
        }
        .texto li{  
        display: inline-block;  
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
.img{
    width: 400px;
height: auto;
display: block;
}
.imagen img{
    width: 400px;
    height: auto;
display: block;
margin:auto ;
border-radius: 10px;
}

    
    

.footer{  
    background-color: rgb(0, 247, 255);
    clear: both;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }




.titulo{
    background-color: rgba(236, 228, 14, 0.929);  
    text-align:center; color: rgb(16, 17, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  50px;
} 

nav{ 

    background-color: rgb(170, 213, 235);

    background-color: rgba(255, 252, 252, 0.842);

}
.menu{  
text-align: center; 
margin: 0;
}
.menu li{  
display: inline-block;  
font-size: 20px;
}
.menu a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.menu a:hover{ 
background-color: aqua;
}
.foto{
    text-align: center;
    width: 600%;
    padding: 0 20px 20px;
    padding: 0 20px 20px;
}

.foto :hover{ 
    filter: saturate(180%);
}

.paises{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.texto{ 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;  
    display: block;

}
.texto a:hover{ 
    background-color: rgb(162, 255, 0);
    }
    .texto li{  
        display: inline-block;
    }  
    .texto{  
        text-align: center; 
        margin: 10;
        }
        .texto li{  
        display: inline-block;  
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
.img{
    width: 400px;
height: auto;
display: block;
}
.imagen img{
    width: 400px;
    height: auto;
display: block;
margin:auto ;
border-radius: 10px;
}

    
    

.footer{  
    background-color: rgb(0, 247, 255);
    clear: both;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

=======
.titulo{
    background-color: rgba(236, 228, 14, 0.929);  
    text-align:center; color: rgb(16, 17, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  50px;
} 

nav{ 
    background-color: rgb(170, 213, 235);

    background-color: rgba(255, 252, 252, 0.842);
}
.menu{  
text-align: center; 
margin: 0;
}
.menu li{  
display: inline-block;  
font-size: 20px;
}
.menu a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.menu a:hover{ 
background-color: aqua;
}
.foto{
    text-align: center;
    width: 600%;
    padding: 0 20px 20px;
    padding: 0 20px 20px;
}

.foto :hover{ 
    filter: saturate(180%);
}

.paises{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.texto{ 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;  
    display: block;

}
.texto a:hover{ 
    background-color: rgb(162, 255, 0);
    }
    .texto li{  
        display: inline-block;
    }  
    .texto{  
        text-align: center; 
        margin: 10;
        }
        .texto li{  
        display: inline-block;  
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
.img{
    width: 400px;
height: auto;
display: block;
}
.imagen img{
    width: 400px;
    height: auto;
display: block;
margin:auto ;
border-radius: 10px;
}

    
    

.footer{  
    background-color: rgb(0, 247, 255);
    clear: both;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }




.titulo{
    background-color: rgba(236, 228, 14, 0.929);  
    text-align:center; color: rgb(16, 17, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  50px;
} 

nav{ 

    background-color: rgb(170, 213, 235);

    background-color: rgba(255, 252, 252, 0.842);

}
.menu{  
text-align: center; 
margin: 0;
}
.menu li{  
display: inline-block;  
font-size: 20px;
}
.menu a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.menu a:hover{ 
background-color: aqua;
}
.foto{
    text-align: center;
    width: 600%;
    padding: 0 20px 20px;
    padding: 0 20px 20px;
}

.foto :hover{ 
    filter: saturate(180%);
}

.paises{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.texto{ 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto a{ 
    padding: 25px;
    color: rgb(37, 57, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;  
    display: block;

}
.texto a:hover{ 
    background-color: rgb(162, 255, 0);
    }
    .texto li{  
        display: inline-block;
    }  
    .texto{  
        text-align: center; 
        margin: 10;
        }
        .texto li{  
        display: inline-block;  
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
.img{
    width: 400px;
height: auto;
display: block;
}
.imagen img{
    width: 400px;
    height: auto;
display: block;
margin:auto ;
border-radius: 10px;
}

    
    

.footer{  
    background-color: rgb(0, 247, 255);
    clear: both;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

>>>>>>> Stashed changes
